.navbar-brand img{
    max-height: 20px;
    display: inline-block;
}
nav ul li span{
	color: white;
	line-height: 20px;
	position: relative;
	display: block;
	padding: 15px 15px;
}
.top-padding{
	margin-top: 100px;
}

.semi-top-padding{
	margin-top: 50px;
}

footer{
	margin-top: 50px;
	padding: 20px;
	border-top: 1px solid lightgray;
}

.merge-block{ padding: 5px 2px; text-align: center; line-height: 30px; }
.merge-block .top, .merge-block .bottom{border: 1px solid  rgb(245,245,245); padding: 5px;}
.merge-block .top{ background-color:  rgb(245,245,245); font-size: 1.5em;  border-bottom: none; border-radius: 5px 5px 0 0;} /* */
.merge-block .bottom{border-top: none; border-radius: 0 0 5px 5px;}